@CHARSET "UTF-8";

/* 1. heard, content, footer -------------------------------- */
body{ margin: 0px;}
a{text-decoration: none;}
li{ list-style: none;}

/* 2. heard -------------------------------- */
header{
	width:100%; border: 1px solid #cccccc;  
}

/* 2-1) #header_nav -------------------------------- */
header > #header_nav{
	width:100%; background-color: #2d1152; overflow: hidden; 
}

header >#header_nav > .list{
	float:left; height:50px;
}
header > #header_nav > .list  li{
	 float:left; margin-right: 20px; line-height: 30px; font-size: 0.9em; color:#ffffff; 
}

header > #header_nav > .firefox {
	  float:right; line-height: 50px; height: 50px;color:#ffffff;
}

/* 2-2) #header_info -------------------------------- */
#header_info {
    width:1000px; overflow: hidden; margin:0px auto;
    border: 0px solid bule; 
}
 
#header_info div {
    margin-top:10px; float:left;
}
    
#header_info > .search > input[type='text'] {
      width:400px; border:1px solid #3488d9;
      font-size:20px; margin-left:20px; padding:5px;
  }
  
#header_info > .search > input[type='button']{
    width:124px; height:38px;
    background-image:url(yahoo_search_btn.png);
    /* background-repeat:no-repeat; border:0; */
    color:#ffffff; font-size:1.2em;
}
  
#header_info > .service  li{
    float:left; margin-right:15px;
}


